# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Jetbrains
.iml
.idea

# .config dirs
configstore/
gh/
github-copilot/
gh-copilot/
jgit/
simple-update-notifier/
tmux/plugins/
fish/fish_variables
nvim/lazy-lock.json
